<div class="row location-row" data-id="{{id}}"
     style="border-bottom: 1px solid #ddd;padding-bottom:10px;{{#if limitLessThanAmount}}color:#a0a0a0{{/if}}">
    <div class="col-md-12">
        <h4>{{name}}</h4>
    </div>
    <div class="col-md-7">
        <div>{{address}}</div>

        {{#if address2}}
            <div>{{address2}}</div>
        {{/if}}

        {{cityState}}

        {{#if phone}}
            <div>Phone: {{phone}}</div>
        {{/if}}

        {{#if limitLessThanAmount}}
            <span>Maximum send amount of {{dollar limit}}</span>
        {{else}}
            <button type="button" class="btn btn-primary btn-sm btn-location" data-id="{{id}}" style="margin-top:15px;">
                Use this location
            </button>
        {{/if}}
    </div>
    <div class="col-md-5">
        {{#if distance}}
            Distance: {{distance}} Miles
        {{/if}}

        {{#if hours_of_ops}}
            <br/>
            Hours: {{hours_of_ops}}
        {{/if}}
    </div>
</div>